/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.margin{
  margin-top: 1em;
  margin-bottom: 1em;
}

  
.center {
  display: flex;
  justify-content: center;
}


.m-1{
    margin: 1em;
}

.margin-left{
    margin-left: 1.5em;
}

.margin-top{
  margin-top: 5em;
}

.margin-bottom{
  margin-bottom: 5em;
}

.margin-vertical{
  margin-top: 5em;
  margin-bottom: 5em;
}

.margin-vertical-1{
  margin-top: 1em;
  margin-bottom: 1em;
}

.p-3{
  padding: 3em;
}

.center-block {
  margin: auto;
  display: block;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }


button:hover {
  color: white;
  background-color: #42545C;
}


.card{
  padding: 2rem 3rem;
  margin: 2rem 3rem;
  width: 600px;
  min-width: 250px;
}

@media only screen and (max-device-width: 540px) {    
  .card{
    padding: 1rem 1.5rem;
    margin: 1rem 1.5rem;
  }
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.sliderHp .mat-slider-track-fill {
	background-color: #3A5F0B !important;
}

.sliderHp .mat-slider-thumb {
  background-color: #3A5F0B !important;
}

.sliderAd .mat-slider-track-fill {
	background-color: crimson !important;
}

.sliderAd .mat-slider-thumb {
  background-color: crimson !important;
}

.sliderAs .mat-slider-track-fill {
	background-color: #f0f36c !important;
}

.sliderAs .mat-slider-thumb {
  background-color: #f0f36c !important;
}
